In [1]:
import pandas as pd

In [3]:
df = pd.read_json("dealer.json")

In [15]:
df.head(1)

,dealer_id,car_added,peoples_visited,visited_logs,Total bid placed on cars,bid_placed_on_cars
0,1,"{'Ferrari 488 Pista': 100000, 'McLaren 720S': ...",450,"{'Ferrari 488 Pista': 200, 'McLaren 720S': 150...",70000,"{'Ferrari 488 Pista': 30000, 'McLaren 720S': 2..."

In [4]:
df["car_added"]

0    {'Ferrari 488 Pista': 100000, 'McLaren 720S': ...
1    {'2014 Lamborghini Aventador': 35000, 'Ferrari...
2    {'McLaren 720S': 100000, 'MARK IV RED': 47200,...
3    {'Ferrari 458': 255000, 'Ferrari 488 Pista': 1...
4    {'MARK IV RED': 47200, '2014 Lamborghini Avent...
5    {'Ferrari 488 Pista': 100000, 'McLaren 720S': ...
6    {'2014 Lamborghini Aventador': 35000, 'Ferrari...
Name: car_added, dtype: object

In [17]:
d = df.where(df.dealer_id == 1).dropna().iloc[0]

In [18]:
d

dealer_id                                                                 1.0
car_added                   {'Ferrari 488 Pista': 100000, 'McLaren 720S': ...
peoples_visited                                                         450.0
visited_logs                {'Ferrari 488 Pista': 200, 'McLaren 720S': 150...
Total bid placed on cars                                              70000.0
bid_placed_on_cars          {'Ferrari 488 Pista': 30000, 'McLaren 720S': 2...
Name: 0, dtype: object